button {
  background-color: #61dafbaa; /* A shade of React blue */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4daddf;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}