.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem; /* Added horizontal padding */
  background-color: var(--surface);
  border-bottom: 1px solid #2a2a2a;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary);
}

.main-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-header nav a {
  color: var(--on-surface-variant);
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
  transition: color var(--transition-speed);
}

.main-header nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: width var(--transition-speed) ease-in-out;
}

.main-header nav a:hover,
.main-header nav a.active {
  color: var(--on-primary);
}

.main-header nav a:hover::after,
.main-header nav a.active::after {
  width: 100%;
}

.main-header nav button {
  background: var(--primary);
  border: none;
  color: var(--on-primary);
  padding: 0.6rem 1.2rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all var(--transition-speed);
  font-weight: 500;
}

.main-header nav button:hover {
  background-color: #0056b3; /* Darker shade */
}
